body {
  font-family: "Space Mono";
  background-color: 9EDDFF;
  color: #2E4374;
  text-align: center;
  padding: 25px;
}

h1, h2, h3 {
  font-family: "Space Grotesk";
  color: #2E4374;
}

li {
  display: inline;
}

ul {
  padding: 0px;
}

.card {
  background-color: #EEEEEE;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #2E4374;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
